*{
    box-sizing: border-box;
}
html{
    font-size: 20px;
}
body{
    background-image: url("../img/Rectangle\ 1.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    
}
.color_white{
    color: #fff;
}

header{
    display: flex;
    justify-content: space-between;
    margin: 0;
    width: 93.4%;
    padding: 20px 0;
    padding-left: 50px;
}
.logo_block{
    display: flex;
    align-items: center;
    
    
}
.logo_block img{
    width: 100%;
}
.profil{
    display: flex;
    align-items: center;
    
    width: 6.9%;
}
.data{
    width: 100%;
}
.data::before{
    content: " | ";
}
.profil_foto{
    padding-left: 10%;
    width: 100%;
}
.wrapper{
    font-family: "Inter", sans-serif;
    font-size: 1.2rem;
    padding-left: 50px;
    padding-top: 20px;
    max-width: 56%;
}
.triller_border::before{
    content: " | ";
}
.triller_border::after{
    content: " | ";
}
.Stranger_Things{
    font-size: 3.1rem;
    padding-top: 20px;
    
}
.info{
    display: flex;
    padding-top: 20px;
    font-family: "Inter", sans-serif;
    justify-content: left;
}

.year{
    font-size: 1.5rem;
}
.director{
    font-size: 1.5rem;
    padding-left: 20px;
    padding-right: 20px;
}
.director::before{
    content: " | ";
}
.director::after{
    content: " | ";
}
.season{
    font-size: 1.5rem;
}
.Shawn_Levy{
    color: #A7A6A6;
    font-size: 1.4rem;
}
.episode{
    color: #A7A6A6;
    font-size: 1.4rem;
}
.description{
    color: #A7A6A6;
    font-family: "Inter", sans-serif;
    padding-top: 20px;
}
.star{
    padding-top: 20px;
}
.stream{
    display: flex;
    padding-top: 25px;
    
}
.stream_now{
    margin-right: 40px;
    border-radius: 10px;
    background-color: #D40D1F;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 250px;
    height: 50px;
}
.stream_now a{
    color: #fff;
}
.ALL_EPISODES{
    border: 3px solid #fff;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 250px;
    height: 50px;

}
.ALL_EPISODES a{
    color: #fff;
    text-decoration: none;
}
.switch{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;

}

.arrow_left{
    border: 1px solid;
    width: 30px;
    height: 30px;
    border-radius: 100px;
    display: inline-block;
    text-align: center;
    margin-right: 20px;
}
.arrow_right{
    border: 1px solid;
    width: 30px;
    height: 30px;
    border-radius: 100px;
    display: inline-block;
    text-align: center;
}
.card{
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}
.card img{
    width: 18.5%;
}
@media(max-width:1200px){
    .logo_block{
        flex-wrap: wrap;
    }
    .info{
        flex-direction: column;
    }
    .switch{
        flex-direction: column;
    }
}
@media(max-width:400px){
    .card{
        flex-direction: column;
    }
    .stream{
        flex-direction: column;
    }
    .director::before{
        content: "" ;
    }
    .director::after{
        content: "";
    }
    .info{
        justify-content: left;
    }
}

